html {
  font-family: "Courier New", Courier, monospace;
}
body {
  background-color: #f5f5dc;
}
/* HEADER */
.header-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header {
  background-color: aqua;
}
.header-exp {
  text-align: center;
}
/* CONTENT */
.content-cont {
  display: flex;
  align-items: center;
  justify-content: center;
}
.content {
  width: 80%;
}
/* TAG BUTTONS */
.tag {
  width: 20vh;
  font-size: 2.5vh;
  padding: 10px 0;
  background-color: #14b2ff;
  color: #fff;
  border: 3px solid #792eff;
  text-align: center;
  cursor: pointer;
}
.tags {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  justify-content: center;
  list-style-type: none;
  gap: 25px;
}

/* ATTRIBUTE DETAIL */
#tagDetails {
  display: none;
  width: 75%;
  height: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border-radius: 7px;
  box-shadow: 0px 0px 0px 2000px rgb(0 0 0 / 45%);
}
/* CLOSE BUTTON */
.closebutton {
  display: inline-block;
  position: absolute;
  right: 0;
  padding: 10px 10px 10px 10px;
  border-bottom-left-radius: 25%;
  transition: 0.2s;
  pointer-events: none;
}
#cls {
  cursor: pointer;
  pointer-events: auto;
}
.closebutton:hover {
  background-color: #000000;
  color: #ffffff;
}
/* TAG DETAIL DIV */
.tagInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.tagHeader {
  text-align: center;
  font-weight: bold;
}
.note {
  background-color: bisque;
  width: 85%;
  margin: 20px auto 0 auto;
}
code {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  padding: 20px;
  font-weight: 100;
  width: 90%;
  margin: 0 auto;
}
.tagAttrs {
  width: 90%;
  margin: 20px auto;
  gap: 1rem;
}
.attrs {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.attrList {
  border: 1px solid red;
  flex: 1;
}
#attrShow {
  border: 1px solid green;
  flex: 4;
}
.attrHeader {
  font-weight: bold;
}
.marginT20 {
  margin-top: 20px;
}
.marginTRL20 {
  margin: 20px 20px 0 20px;
}
.dispNone {
  display: none;
}
#attrListUl {
  padding: 1rem;
  margin: 0;
  list-style-type: none;
}
#attrListUl li {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-style:wavy;
  text-decoration-color:#999;
  margin: 1rem 0;
}
.attrListH{
  margin-block-start: 0;
  margin-block-end: 0;
}
.attrListLi{
    cursor: pointer;
}
